h1 {
    display: flex;
    justify-content: center;
}

#btn {
    background: rgb(201, 197, 197);
    border: solid 1px black;
    padding: 2px;
}

#img{
    max-width: 505px;
    max-height: 505px;
    border-radius: 5px;
    align-self: center;
}

#requisicao{
    display: flex;
    flex-direction: column;
    align-content: center   ;
}



/* Media e hovers*/

#btn:hover {
    color: red;
}

@media (max-width:700px){
    #img{
        max-width: 355px;
        max-height: 355px;
        border-radius: 5px;
        align-self: center;
    }
}